APP_NAME=DevShowcase API
APP_VERSION=1.0.0
DEBUG=false

# Desenvolvimento rápido local com SQLite:
# DATABASE_URL=sqlite:///./devshowcase.db

# Produção com PostgreSQL/Supabase/Render:
DATABASE_URL=postgresql://USUARIO:SENHA@HOST:5432/BANCO
